[submodule "repos/every-cli"]
	path = repos/every-cli
	url = https://github.com/everyprotocol/cli.git
[submodule "repos/periphery"]
	path = repos/periphery
	url = https://github.com/everyprotocol/periphery.git
[submodule "repos/kind-as"]
	path = repos/kind-as
	url = https://github.com/everyprotocol/kind-as.git
